body {
  margin: 0;
  font-family: 'Share Tech', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f172a;
  /* slate-900 */
  color: #f1f5f9;
  /* slate-100 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}